* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-height: 100vh;
  
}

.newsletter__thumb img {
  width: 100%;
}

.img-desktop {
  display: none;
}

.newsletter__content {
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
}

.content__text {
	display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  padding-left: 2rem;
  
  margin-bottom: 1.25rem;
}

.newsletter__content h1 {
  font-size: 2rem;

  color: hsl(234, 29%, 20%);
}

.newsletter__content p {
  font-size: .85rem;

  color: hsl(234, 29%, 20%);
}

.newsletter__check {
  width: 85%;

  display: flex;
  column-gap: 1rem;
}

.newsletter__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  
  
  margin-top: .8rem;
}

.newsletter__input label {
  align-self: flex-start;
  
  margin-left: 1.08rem;
  
  font-size: .7rem;
  font-weight: bold;
  
  color: hsl(234, 29%, 20%);
}

#error {
	position: relative;
	
	align-self: flex-end;
	
	margin-right: 1.4rem;
	margin-bottom: -1.5rem;
	
	color: red;

  font-size: 13px;
  
}

.newsletter__input input {
  width: 90%;

  padding: 1.2rem;

  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 0.6rem;
  outline: none;
  
  margin-bottom: .5rem;
  
  font-size: 1rem;
  
  cursor: pointer;
}

.newsletter input:hover,
.newsletter__input:focus {
	border: 1.5px solid hsl(234, 29%, 20%);
}

.newsletter__input input::placeholder {
	font-size: 1.1rem;
}

.newsletter__input input.invalid {
	border-color: hsl(0,63.1%,49.3%);
	background-color: hsl(1.6,73.9%,85.3%);
	color: red;
}

.newsletter__input input.invalid::placeholder {
	color: red;
}

.newsletter__input a {
	width: 90%;

  padding: 1.5rem 1.2rem;

  border: none;
  border-radius: 0.6rem;
  outline: none;
  
  background-color: hsl(234, 29%, 20%);
  color: white;
  
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  
  margin-bottom: 1rem;
  
  cursor: pointer;
}


.success {
	display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
  
  padding-top: 6rem;
}

.success__content {
	display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-left: 2rem;
}

.success__content img {
	width: 4rem;
	
	align-self: flex-start;
}

.success__content h1 {
	font-size: 3rem;

  color: hsl(234, 29%, 20%);
}

.success__content p {
  font-size: 1.1rem;

  color: hsl(234, 29%, 20%);
}

.success__content span {
	font-weight: bold;
}

.success__link {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
	justify-self: flex-end;
}

.success__link a {
	width: 90%;

  padding: 1.5rem 1.2rem;

  border: none;
  border-radius: 0.6rem;
  outline: none;
  
  background-color: hsl(234, 29%, 20%);
  color: white;
  
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  
  margin-bottom: 1rem;
  
  cursor: pointer;
}

.newsletter__input a:hover,
.success__link a:hover {
	background-image: linear-gradient(to right, hsl(347,98.8%,66.1%), hsl(1.9,97.6%,67.5%), hsl(13.4,99%,61.8%));
}


.hidden {
	display: none;
}

.attribution {
	display: none;
	justify-content: center;
	
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
	body {
		background-color: hsl(218.9,50.5%,36.4%);
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		height: 100%;
	}
	
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.newsletter {
		width: 75%;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0;
		
		background-color: hsl(218.9,6.5%,98.7%);
		
		border-radius: .8rem;
		
		position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	}
	
	.newsletter__thumb {
		order: 1;
		
		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.img-mobile {
		display: none;
	}
	
	.img-desktop {
		display: block;
		
		width: 90%;
		height: 90%;
	}
	
	.content__text {
		padding-top: 2rem;
	}
	
	.success {
		width: 50%;
		
		background-color: hsl(218.9,6.5%,98.7%);
		
		gap: 2rem;
		
		border-radius: .8rem;
		
		position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	}
	
	.success a {
		width: 80%;
		margin-bottom: 2rem;
	}
	
	.hidden {
		display: none;
  }
  
  .attribution {
	position: absolute;
	bottom: 10px;
  }
}
